<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408679558403-gk9ioj35cd943gh9bm2r0ej88prvu5gd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408679558403-gk9ioj35cd943gh9bm2r0ej88prvu5gd</string>
	<key>API_KEY</key>
	<string>AIzaSyDz2lObGpvyk59bqUTTFyb9nOQfIkK7k9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>408679558403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexeyParkhomenko.FirebaseWebinar</string>
	<key>PROJECT_ID</key>
	<string>fir-webinar-9f5af</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-webinar-9f5af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408679558403:ios:feed8df9287a8db47a0d36</string>
	<key>DATABASE_URL</key>
	<string>https://fir-webinar-9f5af.firebaseio.com</string>
</dict>
</plist>